<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D'Noer Resto</title>
  <link rel="shortcut icon" href="./images/heros/logo.png" type="image/x-icon">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="manifest" href="manifest.json">
  <meta name="description" content="Temukan berbagai cita rasa makanan restoran Indonesia, yang tersedia dalam Restaurant List web D'Noer Resto">
</head>
<body>
   <a href="#content" class="skip_content">Skip to content ?</a>
    <nav class="navbar">
        <a class="logo" >D'Noer Resto</a>
        <ul class="navbar_list">
            <li class="item_navbar" id="home"><a href="#">Home</a></li>
            <li class="item_navbar" id="favoriteResto"><a href="#">Favorite</a></li>
            <li class="item_navbar"><a href="https://www.linkedin.com/in/tzelginia-nc-23a6001a7/">About Us</a></li>
        </ul>
    </nav>

    <!-- navbar hp -->
    <div class="menu_hp">
      <div class="icon_hp" id="menu"><a href="#">&#9776;</a></div>
    </div>
    <nav class="navbar_hp" id="navbar_menu">
      <ul class="list_nav_hp">
        <li class="item_navbar_hp" id="home"><a href="#">Home</a></li>
        <li class="item_navbar_hp" id="favoriteResto"><a href="#">Favorite</a></li>
        <li class="item_navbar_hp"><a href="https://www.linkedin.com/in/tzelginia-nc-23a6001a7/">About Us</a></li>
       </ul>
    </nav>

    <!-- jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 43, 0.5), rgba(0, 0, 5, .5)), url('./images/heros/hero-image_2.jpg');">
        <div class="teks_hero">
            <h1 class="title">D'Noer Resto Apps</h1>
            <p class="subtittle">Temukan berbagai cita rasa masakan restoran Indonesia</p>
        </div>
    </div>

    <!-- content -->
    <main id="content">
        <section class="content">
            <div class="teks_content">
                <h1 id="judul">Restaurant List</h1>
                <div class="list" id="resto_list"></div>
                <div class="show" id="show_resto"></div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <p>Copyright © 2023 - D'Noer Resto</p>
    </footer>
</body>
</html>